/*  your css code here. If applicable */
.star {
 --star-color: yellow;
 margin:1em auto;
 font-size:10em;
 position: relative;
 display: block;
 width: 0px;
 height: 0px;
 border-right: 1em solid transparent;
 border-bottom: 100px solid rgb(255, 255, 0);
 border-left: 50px solid rgba(0, 0, 0, 0);
 transform: rotate(35deg);
}
.star:before {
 border-bottom: 100px solid rgb(255, 255, 0);
 border-left: 50px solid rgba(0, 0, 0, 0);
 border-right: 0.3em solid transparent;
 position: absolute;
 height: 0;
 width: 0;
 top: -0.45em;
 left: -0.65em;
 display: block;
 content:"";
 transform: rotate(-35deg);
}
.star:after {
 position: absolute;
 display: block;
 top: 0.03em;
 left: -1.05em;
 width: 0;
 height: 0;
 border-right: 1em solid transparent;
 border-bottom: 100px solid rgb(255, 255, 0);
 border-left: 50px solid rgba(0, 0, 0, 0);
 transform: rotate(-70deg);
 content:"";
}